/* Estilos generales */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.contenedor-nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Login */

.body-login{

    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: black;
    
}


.formulario-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f2f2f2;
}

.formulario {
    max-width: 400px; 
    width: 100%; 
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    
}

.formulario h1 {
    margin-bottom: 20px;
    text-align: center;
}

.e-c {
    display: flex;
    flex-direction: column;
}

.email,
.password {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.email input,
.password input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
}

.email i,
.password i {
    margin-right: 10px;
}

button.start-login {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    
}

.olvidar,
.registrarse {
    text-align: center;
    margin-top: 10px;

}

.olvidar a,
.registrarse a {
    text-decoration: none;
    color: #007bff;
    color: black;
}

.olvidar,
.registrarse {
    text-decoration: none;
}

/* Carrito */


.menu-2 {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.list-menu {
    margin: 0 10px;
}

.list-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.logo-imagen {
    width: 150px;
}

.carrito-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.carrito-titulo {
    margin-bottom: 20px;
}

.productos-carrito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.contenedor-img-carrito {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imagen-producto-carrito {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.name-price-carrito {
    margin-top: 10px;
    text-align: center;
}

.p-precio-carrito {
    margin-top: 5px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.comprar-carrito {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 150px;
}

.comprar-carrito:hover {
    background-color: #333;
}


/* detalle del producto */
.menu-2 {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.menu-2 li {
    margin: 0 10px;
}

.menu-2 a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.logo-imagen {
    width: 150px;
}

.carrito {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.carrito h1 {
    margin-bottom: 20px;
    margin-left: 80px;
}

.productos2 {
    display: flex;
    justify-content: center;
}

.contenedor-img2 {
    display: flex;
    align-items: center;
    margin: 20px;
}

.imagen-producto2 {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.detalle-producto {
    text-align: center;
    margin-left: 20px; 
    background-color: black;
    border: solid 1px black;    
    height: 450px;
    width: 400px;
}
.detalle-producto h2{
    color: white;
}

h3{
    color: white;
}

.precio-producto {
    margin-top: 10px;
    color: white;
    font-size: 30px;
}

.boton-cart-detalle{
    width: 200px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.boton-cart-detalle a{
    font-size: 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
}

.descripcion-producto {
    margin-top: 20px;
    text-align: left;
    color: white;
    margin: 10px;
}
