/* Estilos generales */

header {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh;
    width: 280px;
    background-color: black;
}

.contenedor-nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px; 
}

.contenedor-nav-header li{
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin-bottom: 40px;
    margin-left: -40px;

}

.list-menu a {
    text-decoration: none;
    color: black;
}
.logo-imagen {
    width: 200px;
    margin: 20px 0; /* Margen superior e inferior */
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: red;
}

.formulario {
    font-family: 'Roboto', sans-serif; /* Agregado */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: px; /* Ajusta el ancho según sea necesario */
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.formulario h1 {
    text-align: center;
}

.email,
.password {
    font-family: 'Roboto', sans-serif; /* Agregado */
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
}

.email input,
.password input {
    flex: 1;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
}

.email label,
.password label {
    margin-left: 20px;
}

.start-login {
    background-color: black;
    color: red;
    border: none;
    border-radius: 3px;
    width: 100px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.olvidar,
.registrarse {
    font-family: 'Roboto', sans-serif; /* Agregado */
    text-align: center;
    margin-top: 15px;
}

.olvidar a,
.registrarse a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* Página registro */

.formulario2 {
    font-family: 'Roboto', sans-serif; /* Agregado */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.terminos a {
    text-decoration: none;
    color: black;
}

.terminos input {
    margin-top: 20px;
}

/* Página carrito */

.carrito {
    font-family: 'Roboto', sans-serif; /* Agregado */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    height: 100vh; /* Ajusta el alto de la página */
    background-color: #f4f4f4;
}

.carrito h1 {
    color: black;
}

.imagen-producto {
    width: 200px;
    height: 400px;
    margin-top: 20px;
    border: solid 2px;
    border-radius: 10px;
}

.productos {
    font-family: 'Roboto', sans-serif; /* Agregado */
    background-color: red;
    color: black;
    margin: 0;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    border-radius: 20px;
}

.name-price {
    font-family: 'Roboto', sans-serif; /* Agregado */
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-price p {
    font-size: 15px;
    margin: 5px;
}

.p-precio {
    background-color: black;
    color: white;
    width: 120px;
    height: 25px;
    border: solid 1px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.comprar {
    background-color: black;
    color: white;
    border: solid red 1px;
    border-radius: 10px;
    width: 120px;
    height: 25px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}

  /* Detalle de producto */  

  .productos2 {
    font-family: 'Roboto', sans-serif; /* Agregado */
    background-color: red;
    color: black;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    border-radius: 20px;

}

.contenedor-img2{
    width: 500px;
    display: flex;
}

.name-prices{
    height: 400px;
    width: 230px;
    margin-top: 20px;
    margin-left: 20px;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-precios{
    background-color: black;
    border: solid 1px white;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: -10px;
 
}


.name-prices p{
    font-size: 20px;
    color: white;


}   

.imagen-producto2 {
    width: 200px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: solid 2px;
    border-radius: 10px;
}


.boton-cart-detalle{  
    background-color: black; 
    height: 50px;
    border: solid 1px white;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.boton-cart-detalle a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.descripcion-producto p{
    font-size: 14px;
    width: 200px;
    margin-top: -10px;
}
